body {
	/*
	background: -webkit-linear-gradient(#fff, #b8e5ff);
	background: -o-linear-gradient(#fff, #b8e5ff);
	background: -moz-linear-gradient(#fff, #b8e5ff);
	background: linear-gradient(#fff, #b8e5ff);
	*/
	background: #f0f1f7;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0px;
	color: #64666a;
}

h1 {
	color: #2a355f;
	cursor: default;
}

#header {
	border-bottom: 1px dashed #000;
}

a:link, a:active, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #3b3b7b;
}

a:hover {
	color: #000;
}

input {
	font-size: 13px;
}

label {
	font-weight: bold;
}

#container {
	padding-top: 20px;
	width: 95%;
	margin: auto;
}

#main-content {
	color: #000;
	font-size: 17px;
	background: #fff;
	margin: 20px;
	border-radius: 20px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.1);
}

.message {
	padding: 10px;
	margin: 0px 5px 0px 5px;
}

.invalid {
	background: #f8dcdc;
	color: #631d1d;
}

.valid {
	background: #ccf6dc;
}

.button {
	background: -webkit-linear-gradient(#7e2323, #e61818);
	background: -o-linear-gradient(#7e2323, #e61818);
	background: -moz-linear-gradient(#7e2323, #e61818);
	background: linear-gradient(#7e2323, #e61818);

	-webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);
	box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.75);

	color: #fff;
	border: 1px solid #e61818;
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	margin: 10px 6px 10x 6px;
}

.button:hover {
	background: #fff;
	color: #e61818;
	cursor: pointer;
	cursor: hand;
}

.button:disabled {
	background: #fff;
	color: #747474;
	cursor: default;
	background: -webkit-linear-gradient(#b2b2b2, #e3e3e3);
	background: -o-linear-gradient(#b2b2b2, #e3e3e3);
	background: -moz-linear-gradient(#b2b2b2, #e3e3e3);
	background: linear-gradient(#b2b2b2, #e3e3e3);
	border: 1px solid #5e5e5e;
}

h2 {
	font-size: 20px;
	margin-top: 0px;
}

#result-image {
	-webkit-box-shadow: 0px 0px 20px 1px rgba(255,254,131,0.75);
	-moz-box-shadow: 0px 0px 20px 1px rgba(255,254,131,0.75);
	box-shadow: 0px 0px 20px 1px rgba(255,254,131,0.75);
}

#maskDiv {
	float: left;
	margin-left: -100000px;
}

.sub {
	color: #6d6d7f;
	font-size: 18px;
}

.blurb {
	font-size: 14px;
	color: #939393;
}

#upload-image-grid {
	display: table;
	width: 100%;
}

#upload-image-grid .left, #upload-image-grid .right {
	display: table-cell;
	vertical-align: top;
	width: 50%;
}

#upload-image-grid img {
    max-width: 100%;
    height: auto;
    width: auto;
}