{% extends "base.html" %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1>Index</h1>

<!--
	<form method="post" action="{{ url_for('submit') }}">

		<label for="name">Source file:</label>
			<input type="text" name="source" value="niccage.png" /><br />
		<label for="email">Target file:</label>
			<input type="text" name="target" value="apple.png" /><br />

		<label for="email">Mask file:</label>
			<input type="text" name="mask" value="niccage-mask2.png" /><br />
		<input type="submit" />

	</form>
-->
	<p>Upload a file or choose from an external URL.</p>

    <form id="uploadform" enctype="multipart/form-data" action="{{ url_for('submit') }}" method="post">

    	<label for="name">Source file:</label>
			<input type="file" id="source" name="source" />

		<label for="email">Target file:</label>
			<input type="text" name="target" value="apple.png" /><br />

		<label for="email">Mask file:</label>
			<input type="text" name="mask" value="download.png" /><br />

	
		<p><img id="uploadedimg" src="#" alt="your image" /></p>
<br />
		<p> <img src="{{ url_for('uploaded_file', filename = 'apple.png') }}" id="target" /></p>

		<p><div id="coordinates"></div></p>
		
		<input type="submit" id="submit" value="Submit" disabled>
	</form>



	<script>
		$(function() {
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#uploadedimg').attr('src', e.target.result);
					}

					reader.readAsDataURL(input.files[0]);
				}
			}

			$("#source").change(function(){
				readURL(this);
				$("#submit").attr("disabled", false);
			});

			// gets coordinates from click on image
			function getCoords(e, image) {
				var offset = $(image).offset();
				var offY = Math.floor(e.pageX - offset.left);
				var offX = Math.floor(e.pageY - offset.top);
				return [offY, offX];
			};

			$("#target").click(function(e) {
				// get coordinates of click from image
				offsetCoords = getCoords(e, this);
				offY = offsetCoords[0];
				offX = offsetCoords[1];

				// check coordinates
				$("#coordinates").append("offY: " + offY + "  offX: " + offX + "<br />");

			});
		});
	</script>
	
{% endblock %}