
	<h2>Next, select the area of the image that you would like to cut out and paste.</h2>

	<p>Click multiple points on your image and then click "Create Mask" to generate the mask. Once you're happy, proceed to the next step.</p>
		
		<form id="maskform" enctype="multipart/form-data">
			<div style="text-align: center">
			<input type="button" class="button" id="generate" value="Create Mask" disabled />
			<input type="button" class="button" id="reset" value="Reset" disabled />
			
			<br /><br />

			<div id="maskDiv" class="clipParent" style="float: left;"></div> <!-- actual mask sent to the backend -->
			<div id="canvasDiv"></div> <!-- contains the canvas for the source image -->
			<div id="sourceImageDiv" class="clipParent"></div> <!-- shows the result of the clipping -->
			</div>

			<div style="text-align: right">
				<input type="button" class="button" id="confirm" value="Proceed to the next step. &raquo;" disabled />
			</div>
		</form>



	<script>
		var generateButton = $("#generate");
		var resetButton = $("#reset");
		var confirmButton = $("#confirm");

		// setup
		var canvas = document.createElement('canvas');
		canvas.setAttribute('id', 'canvas');
		$("#canvasDiv").prepend(canvas);

		if(typeof G_vmlCanvasManager != 'undefined') { 
			canvas = G_vmlCanvasManager.initElement(canvas); 
		}
		  
		var context = canvas.getContext('2d'); 
		var mask_canv = document.createElement('canvas');
		var source_image = new Image(); 
		  
		source_image.onload = function() {
			$(canvas).attr({width : this.width, height: this.height});
			context.drawImage(source_image,0,0); 
			
			// create white canvas
			mask_canv.width = canvas.width;
			mask_canv.height = canvas.height;
			mask_canv_context = mask_canv.getContext('2d');
			mask_canv_context.fillStyle = "red";
			mask_canv_context.fillRect(0, 0, mask_canv.width, mask_canv.height);
		};
		
		source_image.src = '{{ url_for('uploaded_file', filename = source_filename) }}';
		  
		var clickX = new Array(); 
		var clickY = new Array(); 
		var clickDrag = new Array(); 
		var paint;


		// canvas functions
		function redraw() {
			canvas.width = canvas.width; // Clears the canvas 
			context.drawImage(source_image, 0, 0);
		  
			context.strokeStyle = "#df4b26";
			context.lineJoin = "round";
			context.lineWidth = 5;
					  
			for(var i=0; i < clickX.length; i++) 
			{
				context.beginPath();
				context.arc(clickX[i], clickY[i], 3, 0, 2 * Math.PI, false);
				context.fillStyle = '#000000';
				context.fill();
				context.lineWidth = 5;
				context.stroke();
			}
		}

		$('#canvas').click(function(e){ 
			var mouseX = e.pageX - this.offsetLeft; 
			var mouseY = e.pageY - this.offsetTop; 

			clickX.push(e.pageX - this.offsetLeft); 
			clickY.push(e.pageY - this.offsetTop);

			if(clickX.length >= 3) {
				enable(generateButton);
			}

			redraw();
		});

		  
		// button functions
		$('#generate').click(function(){ 
			var mask_image_dataURL = mask_canv.toDataURL("image/png");

			$("#maskDiv").html("<img src=\"" + mask_image_dataURL + "\" id=\"mask_image\" />");
			$("#sourceImageDiv").html("<img src=\"" + source_image.src + "\" id=\"source_image\" />");

			var arr = []; 
			for(var i=0; i < clickX.length; i++){ 
				arr.push(clickX[i]); 
				arr.push(clickY[i]); 
			}

			$("#mask_image")[0].setAttribute("data-polyclip", arr.join(", "));
			$("#source_image")[0].setAttribute("data-polyclip", arr.join(", "));

			$("#canvasDiv").hide();
			$("#sourceImageDiv").fadeIn();
			polyClip.init();

			enable(confirmButton);
			enable(resetButton);
			disable(generateButton);
		});


		$('#reset').click(function() {
			clickX = []; 
			clickY = [];
			redraw();

			$("#canvasDiv").fadeIn();
			$("#sourceImageDiv").hide();

			disable(confirmButton);
			disable(resetButton);
			disable(generateButton);
		});


		$('#confirm').click(function() {
			$('#maskform').submit();
		});


		$('#maskform').submit(function(e) {
			e.preventDefault();

			// get dataURL of mask
			var mask_result = $("#mask_image")[0];
			var dataURL = mask_result.toDataURL("image/png");

		    // process the form
    		$.ajax({
        		type: 'POST',
        		url: '/submit_mask', // the url where we want to POST
        		data: { imgData: dataURL }
        		//cache: false,
    		})
		    .done(function(data) {
				doneLoading(data);
    		});

    		return false;
		})
	</script>


