{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<script src="{{ url_for('script_file', filename = 'polyclip.js') }}"></script>
	<meta id="template_vars" data-name="{{ source_filename }}" another-data="{{ url_for('submit_mask') }}">
{% endblock %}

{% block content %}
	<h1>Poisson Composite Image Creator</h1>

	<p><strong>Step 2:</strong> Create a mask. Select the area that you would like to cut from your source.</p>

	<p>Click multiple points on the image to create the mask.</p>
		<div id="canvasDiv"></div>

		<div class="clipParent"></div>

		<p><button id="generate" type="button" disabled>Create Mask</button></p>

		<p><button id="confirm" type="button" disabled>Looks good. Proceed to the next step.</button></p>

	<script>
		var canvasDiv = $('#canvasDiv'); 
		var canvas = document.createElement('canvas');
		canvas.setAttribute('id', 'canvas');
		
		$(canvasDiv).prepend(canvas);
		if(typeof G_vmlCanvasManager != 'undefined') { 
			canvas = G_vmlCanvasManager.initElement(canvas); 
		} 
		  
		var context = canvas.getContext('2d'); 
		var whiteCanv = document.createElement('canvas');
		var imageObj = new Image(); 
		  
		imageObj.onload = function() {
			$(canvas).attr({width : this.width, height: this.height});
			context.drawImage(imageObj,0,0); 
			
			// create white canvas
			whiteCanv.width = canvas.width;
			whiteCanv.height = canvas.height;
			whiteCanvCtx = whiteCanv.getContext('2d');
			whiteCanvCtx.fillStyle = "red";
			whiteCanvCtx.fillRect(0, 0, whiteCanv.width, whiteCanv.height);
		};

		// change the preloaded source image here
		var source_filename = $("#template_vars").attr('data-name');
		imageObj.src = '{{ url_for('uploaded_file', filename = source_filename) }}'; 
		  
		var clickX = new Array(); 
		var clickY = new Array(); 
		var clickDrag = new Array(); 
		var paint; 
		  
		function addClick(x, y, dragging) 
		{ 
			clickX.push(x); 
			clickY.push(y); 
			clickDrag.push(dragging); 
			$("#generate").removeAttr("disabled");
		} 
		  
		function redraw(){ 
			canvas.width = canvas.width; // Clears the canvas 
			context.drawImage(imageObj,0,0);
		  
			context.strokeStyle = "#df4b26";
			context.lineJoin = "round";
			context.lineWidth = 5;
					  
			for(var i=0; i < clickX.length; i++) 
			{
			context.beginPath();
			context.arc(clickX[i], clickY[i], 3, 0, 2 * Math.PI, false);
			context.fillStyle = '#000000';
			context.fill();
			context.lineWidth = 5;
			context.stroke();
			} 
		} 
		  
		$('#canvas').click(function(e){ 
			var mouseX = e.pageX - this.offsetLeft; 
			var mouseY = e.pageY - this.offsetTop; 

			addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop); 
			redraw(); 
		}); 
		  
		$('#generate').click(function(){ 
			var whiteImg = whiteCanv.toDataURL("image/png");

			$(".clipParent").empty();
			$(".clipParent").prepend("<img src=\"" + whiteImg + "\" id=\"genimg\" />");

			var arr = []; 
			for(var i=0; i < clickX.length; i++){ 
				arr.push(clickX[i]); 
				arr.push(clickY[i]); 
			}

			$("#genimg")[0].setAttribute("data-polyclip", arr.join(", "));

			clickX=[]; 
			clickY=[]; 
			redraw(); 
			polyClip.init();

			$("#confirm").removeAttr("disabled");
		});

		// submit button function
		$('#confirm').click(function() {
			// get dataURL of mask
			var canvasResult = $("#genimg")[0];
			var dataURL = canvasResult.toDataURL("image/png");
			console.log(dataURL);
/*
			var form = $('<form></form>').attr({
				method: "POST",
				action: $("#template_vars").attr('another-data')
			});

			var imgDataInput = $('<input type="hidden" />').attr({
			    name: "imgData",
			    value: dataURL
			}).appendTo("form");

			$("body").append(form);
			*/

			// create form to submit
			var form = document.createElement("form");
			form.setAttribute("method", "POST");
			form.setAttribute("action", $("#template_vars").attr('another-data'));

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "imgData");
            hiddenField.setAttribute("value", dataURL);

            form.appendChild(hiddenField);
            document.body.appendChild(form);
         
            form.submit();

// TO DO: AJAX
/*
			$.ajax({
				type: "POST",
				url: "/submit_mask",
				data: {
					imgData: dataURL
				}
			}).done(function(data) {
				$(".clipParent").append(data);
			});
*/
		})
	</script>




	
{% endblock %}