{% extends "base.html" %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

	The first step is to upload the image that you want to cut a piece out of to put on another image.<br /><br />
	<div class="main">
		<!-- Source upload form -->
	    <form id="sourceform" enctype="multipart/form-data">
	    	<label for="name">Select an image file:</label>
	    	<input type="file" id="source" name="source" />
		</form>

		<p id="submitsource" class="button" style="display: none"><a href="#" id="submit">Click here to proceed to the next step. >></a></p>

		<div class="message invalid" id="sourcepreview">No image has been selected yet!</div>
	</div>



	<!-- Javascript -->
	<script>
		$(function() {
			var reader = new FileReader();

			// Source upload functions
			$("#source").change(function(){
				if (this.files && this.files[0]) {
					var valid = validate(this.files[0]);

					if(valid == -1) { // wrong filetype
						$('#sourcepreview').attr('class', 'message invalid').show();
						$('#sourcepreview').html('The file is of the wrong type. :( Please choose either a JPG, PNG, or GIF file.');
						$('#submitsource').hide();
					}

					if(valid == -2) { // wrong file size
						$('#sourcepreview').attr('class', 'message invalid').show();
						$('#sourcepreview').html('The file exceeds 1MB. :( Please choose a smaller file.');
						$('#submitsource').hide();
					}

					// image is valid
					if(valid == 1) {
						reader.onload = function (e) {
							$('#sourcepreview').attr('class', 'message valid').show();
							$('#submitsource').show();
							$("#sourcepreview").html("Image Preview: <p><img src=" + e.target.result + " /></p>");
						}
						reader.readAsDataURL(this.files[0]);
					}
				}
				
			});


			$('#submitsource').click(function(e) {
				$('#sourceform').submit();
			});


			$("#sourceform").submit(function(e) {
				// stop form from submitting normally
				e.preventDefault();

				var formData = new FormData($('#sourceform')[0]);

        		// process the form
        		$.ajax({
            		type: 'POST',
            		url: '/submit_source',
            		data: formData,

            		contentType: false,
            		dataType : false,
                    processData: false
        		})
        		.done(function(data) {
        			$('#main-content').html(data);
        		});

			});

		});
	</script>
	
{% endblock %}