{% extends "base.html" %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h1>Poisson Composite Image Creator</h1>

	<div id="sourceupload_div">
		<p><strong>Step 1:</strong> Upload your source file.</p>

		<!-- Source upload form -->
	    <form id="sourceform" enctype="multipart/form-data">
	    	<label for="name">Source file:</label> <input type="file" id="source" name="source" />

			<input type="submit" id="submit" value="Submit" disabled>
		</form>

		<div id="sourcepreview"></div><br />
	</div>



	<script>
		$(function() {
			var reader = new FileReader();

			// Source upload functions
			$("#source").change(function(){
				if (this.files && this.files[0]) {
					var valid = validate(this.files[0]);

					if(valid) {
						reader.onload = function (e) {
							$("#sourcepreview").html("<img src=" + e.target.result + " />");
						}
						reader.readAsDataURL(this.files[0]);
						$("#submit").prop("disabled", false);
					}
				}
				
			});

			$("#sourceform").submit(function(e) {
				// stop form from submitting normally
				e.preventDefault();

				var formData = new FormData($('#sourceform')[0]);

        		// process the form
        		$.ajax({
            		type: 'POST',
            		url: '/submit_source',
            		data: formData,

            		contentType: false,
            		dataType : false,
                    processData: false
        		})
        		.done(function(data) {
        			$("#sourceupload_div").hide();

        			$('body').append(data);
        		});

			});


			// Mask creation functions


		});
	</script>
	
{% endblock %}