
	<meta id="template_vars" targetw="{{ targetw }}" targeth="{{ targeth }}" half_region_height="{{ half_region_height }}" half_region_width="{{ half_region_width }}"
		another-data="{{ url_for('submit_offset') }}">


	<h2>And finally, choose where you want to paste onto by clicking somewhere below!</h2>
	<div style="text-align: center">
	<p><img src="{{ url_for('uploaded_file', filename = '%s' % target_filename) }}" id="target" /></p>

	<form id="offsetform" enctype="multipart/form-data">
	</form>
	</div>

	<div class="message invalid" id="messageresult" style="display:none">The place that you have chosen is invalid. It's probably too far on the edge of the image given the size of the cut out region that you have defined earlier.<br /><br />

	Try choosing somewhere more in the middle of your image if this is the case.
	</div>

	<script>
		$(function() {

			// get variables
			var targetw = Number($("#template_vars").attr('targetw'));
			var targeth = Number($("#template_vars").attr('targeth'));
			var half_region_width = Number($("#template_vars").attr('half_region_width'));
			var half_region_height = Number($("#template_vars").attr('half_region_height'));
			var offY;
			var offX;
			var num_errors=0;


			// gets coordinates from click on image
			function getCoords(e, image) {
				var offset = $(image).offset();
				offY = Math.floor(e.pageX - offset.left);
				offX = Math.floor(e.pageY - offset.top);
				return [offY, offX];
			};


			// checks if user defined coordinates are valid
			function check_offsets(offX, offY, targetw, targeth, half_region_height, half_region_width) {
				if((offX + half_region_height > targeth-1) || (offY + half_region_width > targetw-1) || (offX - half_region_height < 0) || (offY - half_region_width < 0)) {
					return false;
				}
				return true;
			}


			$("#target").click(function(e) {
				// get coordinates of click from image
				offsetCoords = getCoords(e, this);
				offY = offsetCoords[0];
				offX = offsetCoords[1];

				// check coordinates
				var flag = check_offsets(offX, offY, targetw, targeth, half_region_height, half_region_width);

				if(!flag) {
					num_errors++;

					if(num_errors >= 5) {
						$('#messageresult').html('It seems as if you\'re constantly selecting an invalid point. It might be the case that the region you cut out earlier is bigger than the image that you\'re trying to paste on.<br /><br />Unfortunately, if that is so, you will have to select either a smaller region or a bigger image to paste on. :(');
					}

					$('#messageresult').fadeIn();
				}

				else { // offsets okay
					$('#offsetform').submit();
				}
			});

			// submit button function
			$('#offsetform').submit(function(e) {

				e.preventDefault();

				// loading message
				$('#messageresult').html('Prepare yourself. Your image is processing...');
				$('#messageresult').attr('class', 'message valid').fadeIn();

		    	// process the form
    			$.ajax({
        			type: 'POST',
        			url: '/submit_offset', // the url where we want to POST
        			data: { offY: offY, offX: offX },
        			cache: false,
    			})
    			.done(function(data) {
    				doneLoading(data);
    			});

    			return false;
			});
		});
	</script>
	