	

	<p>Now, please choose the image that you would like to paste on.</p>

	<div class="main">

		<!-- Target upload form -->
	    <form id="targetform" enctype="multipart/form-data">
	    	<label for="name">Target file:</label>
	    	<input type="file" id="target" name="target" />
		</form>

		<p id="submittarget" class="button" style="display: none"><a href="#" id="submit">Click here to proceed to the next step. >></a></p>

		<div class="message invalid" id="targetpreview">No image has been selected yet!</div>

	</div>


	<!-- Javascript -->
	<script>
		$(function() {
		var reader = new FileReader();

		$("#target").change(function(){
			if (this.files && this.files[0]) {
				var valid = validate(this.files[0]);

				if(valid == -1) { // wrong filetype
					$('#targetpreview').attr('class', 'message invalid').show();
					$('#targetpreview').html('The file is of the wrong type. :( Please choose either a JPG, PNG, or GIF file.');
					$('#submittarget').hide();
				}

				if(valid == -2) { // wrong file size
					$('#targetpreview').attr('class', 'message invalid').show();
					$('#targetpreview').html('The file exceeds 1MB. :( Please choose a smaller file.');
					$('#submittarget').hide();
				}

				// image is valid
				if(valid == 1) {
					reader.onload = function (e) {
						$('#targetpreview').attr('class', 'message valid').show();
						$('#submittarget').show();
						$("#targetpreview").html("Image Preview: <p><img src=" + e.target.result + " /></p>");
					}
					reader.readAsDataURL(this.files[0]);
				}
			}
			
		});

		$('#submittarget').click(function(e) {
				$('#targetform').submit();
		});

		$("#targetform").submit(function(e) {
			// stop form from submitting normally
			e.preventDefault();

			var formData = new FormData($('#targetform')[0]);

    		// process the form
    		$.ajax({
        		type: 'POST',
        		url: '/submit_target',
        		data: formData,

        		contentType: false,
        		dataType : false,
                processData: false
    		})
    		.done(function(data) {
    			$('#main-content').html(data);
    		});

		});

	});
	</script>