
	<p>The next step is to select the area in the image that you would like to cut out and paste.</p>

	<div class="main">
		Click multiple points on the image to create the mask.<br /><br />
		
		<form id="maskform" enctype="multipart/form-data">
					<div id="maskDiv" class="clipParent" style="float: left; margin-left: -1000px;"></div> <!-- actual mask sent to the backend -->
			<div id="canvasDiv"></div> <!-- contains the canvas for the source image -->
			<div id="sourceImageDiv" class="clipParent"></div> <!-- shows the result of the clipping -->

			<div class="padding" style="display:none"></div>

				<span class="button"><a href="#" id="generate" style="display: none">Create Mask</a></span>
				<span class="button"><a href="#" id="reset" style="display: none">Reset</a></span>&nbsp;
				<span class="button"><a href="#" id="confirm" style="display: none">Looks good. Proceed to the next step. >></a></span>
		</form>
	</div>



	<script>
		// setup
		var canvas = document.createElement('canvas');
		canvas.setAttribute('id', 'canvas');
		$("#canvasDiv").prepend(canvas);

		if(typeof G_vmlCanvasManager != 'undefined') { 
			canvas = G_vmlCanvasManager.initElement(canvas); 
		}
		  
		var context = canvas.getContext('2d'); 
		var mask_canv = document.createElement('canvas');
		var source_image = new Image(); 
		  
		source_image.onload = function() {
			$(canvas).attr({width : this.width, height: this.height});
			context.drawImage(source_image,0,0); 
			
			// create white canvas
			mask_canv.width = canvas.width;
			mask_canv.height = canvas.height;
			mask_canv_context = mask_canv.getContext('2d');
			mask_canv_context.fillStyle = "red";
			mask_canv_context.fillRect(0, 0, mask_canv.width, mask_canv.height);
		};

		var source_filename = $("#template_vars").attr('data-name'); // change the preloaded source image here
		source_image.src = '{{ url_for('uploaded_file', filename = source_filename) }}';
		  
		var clickX = new Array(); 
		var clickY = new Array(); 
		var clickDrag = new Array(); 
		var paint;


		// canvas functions
		function redraw() {
			canvas.width = canvas.width; // Clears the canvas 
			context.drawImage(source_image, 0, 0);
		  
			context.strokeStyle = "#df4b26";
			context.lineJoin = "round";
			context.lineWidth = 5;
					  
			for(var i=0; i < clickX.length; i++) 
			{
				context.beginPath();
				context.arc(clickX[i], clickY[i], 3, 0, 2 * Math.PI, false);
				context.fillStyle = '#000000';
				context.fill();
				context.lineWidth = 5;
				context.stroke();
			}
		}

		$('#canvas').click(function(e){ 
			var mouseX = e.pageX - this.offsetLeft; 
			var mouseY = e.pageY - this.offsetTop; 

			clickX.push(e.pageX - this.offsetLeft); 
			clickY.push(e.pageY - this.offsetTop);

			if(clickX.length >= 3) {
				$(".padding").show();
				$("#generate").show();
			}

			redraw();
		});

		  
		// button functions
		$('#generate').click(function(){ 
			var mask_image_dataURL = mask_canv.toDataURL("image/png");

			$("#maskDiv").html("<img src=\"" + mask_image_dataURL + "\" id=\"mask_image\" />");
			$("#sourceImageDiv").html("<img src=\"" + source_image.src + "\" id=\"source_image\" />");

			var arr = []; 
			for(var i=0; i < clickX.length; i++){ 
				arr.push(clickX[i]); 
				arr.push(clickY[i]); 
			}

			$("#mask_image")[0].setAttribute("data-polyclip", arr.join(", "));
			$("#source_image")[0].setAttribute("data-polyclip", arr.join(", "));

			$("#canvasDiv").hide();
			$("#sourceImageDiv").show();
			polyClip.init();

			$(".padding").show();
			$("#confirm").show();
			$("#reset").show();
			$("#generate").hide();
		});


		$('#reset').click(function() {
			clickX = []; 
			clickY = [];
			redraw();

			$("#canvasDiv").show();
			$("#sourceImageDiv").hide();

			$(".padding").hide();
			$("#confirm").hide();
			$("#reset").hide();
			$("#generate").hide();
		});


		$('#confirm').click(function() {
			$('#maskform').submit();
		});


		$('#maskform').submit(function(e) {
			e.preventDefault();

			// get dataURL of mask
			var mask_result = $("#mask_image")[0];
			var dataURL = mask_result.toDataURL("image/png");

		    // process the form
    		$.ajax({
        		type: 'POST',
        		url: '/submit_mask', // the url where we want to POST
        		data: { imgData: dataURL },
        		cache: false,
    		})
    		.done(function(data) {
    			$('#main-content').html(data);
    		});

    		return false;
		})
	</script>


